.simple-calendar {
  .day {
    height: 50px;
  }

  .num-attends{
    font-size: 10px;
    color: #FF0000;
    margin:0;
    padding: 0;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}