<!-- Modal -->
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal_label_listagem"><%= t('Edit') %> <%= t('attend') %></h4>
        </div>
        <div class="modal-body">          
          <div id="formulario" >
            <%= render partial: "form" %>
          </div><!-- /formulario-->
        </div>
        <div class="modal-footer">
              <%= link_to attend_path(@attend), method: :delete, :class => 'btn btn-danger', data: { confirm: t('Are you sure?')  } do %>
                <span class="glyphicon glyphicon-remove"></span> Apagar
              <% end %> 
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div><!-- /modal-footer-->
      </div><!-- /modal-content-->
  </div><!-- /.modal-dialog -->