<h1>Editar <%= t("attend") %></h1>
<div class="text-right">
  <%= link_to attends_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Voltar
  <% end %> 
  <%= link_to attend_path(@attend), method: :delete, :class => 'btn btn-danger', data: { confirm: t('Are you sure?')  } do %>
    <span class="glyphicon glyphicon-remove"></span> Apagar
  <% end %> 
</div>
<%= render 'form' %>
