<h1><%= t("attends") %></h1>
<div class="text-right">
  <%= link_to new_attend_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span> Adicionar
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#semanal" aria-controls="semanal" role="tab" data-toggle="tab">Semanal</a></li>
      <li role="presentation"><a href="#mensal" aria-controls="mensal" role="tab" data-toggle="tab">Mensal</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="semanal">
        <div id="semanal_calendar">
          <%= render partial: "calendar_semanal", locals: {attends: @attends_todos} %>
        </div><!-- /semanal_calendar -->
      </div><!-- /semanal -->
      <div role="tabpanel" class="tab-pane" id="mensal">
        <div id="events_calendar">
          <%= render partial: "calendar_mensal", locals: {attends: @attends_todos} %>
        </div><!-- /events_calendar -->
      </div><!-- /mensal -->
    </div>
  </div><!-- /row -->
</div><!-- /col-lg-12 -->
