<h1><%= t("New") %> <%= t("dentist") %></h1>
<div class="text-right">
  <%= link_to dentists_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Voltar
  <% end %> 
</div>
<%= render 'form' %>

